

#sw-census-logo{
    float: right;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: gray;
    width:100%;
    display: flex;
   min-height: 8vh;
   align-items: center;
    
}
footer > section{
    display: flex;
    width:50%
}
footer > section.footer-section-right {
    justify-content: end;
}
footer > section.footer-section-right span{
    margin: 0 1em 0 1em;
}
footer > section.footer-section-left span {
    margin: 0 1em 0 1em;
}
div.census-form-row{
    margin-bottom: 1.2em;
}